<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
	<add key="ida:Tenant" value="contoso.onmicrosoft.com"/>
	<add key="ida:ClientId" value="{TodoListClient_Client_ID}"/>
	<add key="ida:RedirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient"/>
	<add key="todo:TodoListResourceId" value="{TodoListService_Client_ID}"/>
	<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}"/>
	<add key="todo:TodoListBaseAddress" value="https://localhost:44321"/>
  </appSettings>
</configuration>